header {
  color: white;
  background-color: #1C5D99;
  background-image: linear-gradient(to right, white , #1C5D99);
}

#search-button {
  background-color: #1C5D99;
}

.city-button {
  background-color: #BBCDE5;
}

.city-delete {
  display: none;
}

.current-day {
  background-color: #BBCDE5;
  background-image: linear-gradient(to bottom, #BBCDE5, white);
}

.future-day {
  background-color: #1C5D99;
  background-image: linear-gradient(to bottom, #1C5D99 , #F39A9D);
  color: white;
}

@media (hover: hover) {
  #search-button:hover {
    background-color: #F39A9D;
  }

  .city-button:hover .city-delete{
    display: inline;
  }
}

@media (hover: none) {
  .city-button {
    background-color: #BBCDE5;
  }

  .city-delete{
    display: inline;
  }
}

@media (width > 992px) {
  header {
    justify-content: end;
  }
}

@media (width <= 1400px) {
  main {
    flex-direction: column;
  }
}

@media (width <= 992px) {
  .five-day-container {
    flex-direction: column;
  }

  header {
    justify-content: center;
  }
}