header{
  color: white;
  background-color: #1C5D99;
  background-image: linear-gradient(to right, white , #1C5D99);
  text-align: right;
  margin-bottom: 2rem;
  padding: 5px 25px 5px 5px;

}

/* main {
  min-width: max-content;
} */

.borderLine {
  border-top: solid;
  border-color: darkgray;
}

#search-button {
  background-color: #222222;
}

#search-button:hover {
  background-color: #BBCDE5;
}

.city-button {
  background-color: #BBCDE5;
}

.city-delete {
  display: none;
}

.city-button:hover .city-delete{
  display: inline;
}

.current-day {
  background-color: #F39A9D;
  background-image: linear-gradient(to bottom, white , #BBCDE5);
}

#future-day-container {
  background-color: #1C5D99;
  background-image: linear-gradient(to bottom, #1C5D99 , #F39A9D);
  color: white;
}

#future-day-card h6 {
  color: white;
}

@media (width <= 1400px) {
  main {
    flex-direction: column;
  }
}

@media (width <= 992px) {
  .future-days {
    flex-direction: column;
  }
}